[Unit]
Description=TrustEdge agent
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/trustedge --daemon
KillMode=process
PIDFile=/run/trustedge.pid
TimeoutStopSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=trustedge
Restart=always
RestartSec=60
User=root
MemoryAccounting=yes
CPUAccounting=yes

[Install]
WantedBy=default.target
