/*
 * Copyright (c) 2023 S&C Electric Company <www.sandc.com>
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			read-size = <32>;
			prog-size = <32>;
			cache-size = <256>;
			lookahead-size = <64>;
			block-cycles = <512>;
			partition = <&fs_partition>;
			mount-point = "/lfs1";
		};
	};
};
&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>; /* 64k */
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x0018DF30>;
		};

		/* total flash memory        -> 001FFC00 */
		/* remaining flash available -> 00061CD0 */
		/* use remaining flash for the file system */
		fs_partition: partition@19DF30 {
			label = "fs";
			reg = <0x0019DF30 0x00061CD0>;
		};
	};
};
