name: "Build_NanoMQTT"

on:
  workflow_dispatch: {}
  schedule:
    - cron: '30 3 * * *' 

permissions:
  contents: read
jobs:
  build-nanomqtt:
    runs-on: ubuntu-22.04

    steps:

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y cmake
          cmake --version

      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5

      # ---------------- MQTT BUILDS ----------------

      - name: CMAKE Build with NanoCrypto
        id: mqtt_1
        continue-on-error: true
        run: |
          rm -rf build lib/* samples/bin/*
          cmake -DBUILD_SAMPLES=ON -DENABLE_MQTT_CLIENT=ON -B build -S .
          cmake --build build
          test -f samples/bin/mqtt_client

      - name: CMAKE Build with NanoCrypto over TLS and with debug
        id: mqtt_2
        continue-on-error: true
        run: |
          rm -rf build lib/* samples/bin/*
          cmake -DBUILD_SAMPLES=ON -DENABLE_MQTT_CLIENT=ON -DWITH_LOGGING=ON -B build -S .
          cmake --build build
          test -f samples/bin/mqtt_client
          test -f samples/bin/ssl_server

      - name: CMAKE Build with NanoCrypto and static library type
        id: mqtt_3
        continue-on-error: true
        run: |
          rm -rf build lib/* samples/bin/*
          cmake -DBUILD_SAMPLES=ON -DENABLE_MQTT_CLIENT=ON -DLIB_TYPE=STATIC -B build -S .
          cmake --build build
          test -f samples/bin/mqtt_client

      - name: CMAKE Build with NanoCrypto and streaming support
        id: mqtt_4
        continue-on-error: true
        run: |
          rm -rf build lib/* samples/bin/*
          cmake -DBUILD_SAMPLES=ON -DENABLE_MQTT_CLIENT=ON -DENABLE_MQTT_STREAMING=ON -B build -S .
          cmake --build build
          test -f samples/bin/mqtt_client

      # ---------------- FINAL FAILURE CHECK ----------------

      - name: Fail job if any build failed
        if: always()
        run: |
          FAILED=0

          if [[ "${{ steps.mqtt_1.outcome }}" == "failure" ]]; then
            echo "❌ CMAKE Build with NanoCrypto FAILED"
            FAILED=1
          fi

          if [[ "${{ steps.mqtt_2.outcome }}" == "failure" ]]; then
            echo "❌ CMAKE Build with NanoCrypto over TLS and with debug FAILED"
            FAILED=1
          fi

          if [[ "${{ steps.mqtt_3.outcome }}" == "failure" ]]; then
            echo "❌ CMAKE Build with NanoCrypto and static library type FAILED"
            FAILED=1
          fi

          if [[ "${{ steps.mqtt_4.outcome }}" == "failure" ]]; then
            echo "❌ CMAKE Build with NanoCrypto and streaming support FAILED"
            FAILED=1
          fi

          if [[ $FAILED -eq 1 ]]; then
            echo ""
            echo "One or more builds failed."
            exit 1
          else
            echo ""
            echo "All builds passed."
          fi



