name: "NanoSSH Sanity Tests"

on:
  workflow_dispatch: {}
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - .github/workflows/nanossh_sanity_test.yml
      - samples/ssh_client/**
      - samples/ssh_server/**
      - src/common/**
      - src/ssh/**
      - projects/nanossh/**
      - projects/nanossh_testunit/**
      - scripts/sanity_tests.sh

jobs:
  sanity-tests:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake python3 xxd sshpass

    - name: Run Sanity Tests
      run: |
        ./scripts/sanity_tests.sh