name: "Unit Test ASN1 Extended"

on:
  workflow_dispatch: {}

  schedule:
    - cron: '30 6 * * 1'   # Monday 12:00 PM IST
    - cron: '30 6 * * 3'   # Wednesday 12:00 PM IST

jobs:
  unittest-asn1-extended:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y cproto
        sudo apt install -y ruby
        sudo apt install -y build-essential
        sudo apt install -y cmake
        sudo apt install -y python3 python3-pip

    # ------------------------------------------------------------------
    # Clone & prepare mocn-qa-m-products
    # ------------------------------------------------------------------
    - name: Checkout mocn-qa-m-products
      uses: actions/checkout@v4
      with:
        repository: digicert/mocn-qa-m-products
        token: ${{ secrets.MY_SECRET_TOKEN }}
        path: mocn-qa-m-products

    # ------------------------------------------------------------------
    # Copy script and run check
    # ------------------------------------------------------------------
    - name: Copy Jenkins check script
      run: |
        cp mocn-qa-m-products/qa_utils/check_jenkins_build_script_result/run_check_script.py .

    - name: Running Unittest ASN1 Extended
      run: |
        PYTHONUNBUFFERED=1 python3 run_check_script.py "projects/asn1_unittest" "default"

