name: "Unit test ASN1"

on:
  workflow_dispatch: {}
  push:
    paths:
      - projects/asn1_unittest/**
      - src/common/**
      - src/asn1/**

  pull_request:
    paths:
      - projects/asn1_unittest/**
      - src/common/**
      - src/asn1/**

  workflow_dispatch: {}

jobs:
  trustcore-check:
    runs-on: ubuntu-22.04

    env:
      GIT_TOKEN: ${{ secrets.MY_SECRET_TOKEN }}

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y cproto
        sudo apt install -y ruby
        sudo apt install -y build-essential
        sudo apt install -y cmake
        sudo apt install -y python3 python3-pip

    # ------------------------------------------------------------------
    # Clone & prepare mocn-qa-m-products
    # ------------------------------------------------------------------
    - name: Clone mocn-qa-m-products
      run: |
        git clone https://${GIT_TOKEN}@github.com/digicert/mocn-qa-m-products.git

    # ------------------------------------------------------------------
    # Copy script and run check
    # ------------------------------------------------------------------
    - name: Copy Jenkins check script
      run: |
        cp mocn-qa-m-products/qa_utils/check_jenkins_build_script_result/run_check_script.py .

    - name: Running Unittest ASN1
      run: |
        python3 run_check_script.py "projects/asn1_unittest" "default"

